.App {
  text-align: center;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  
  /* background-color: rgb(120, 100, 255); */
  /* background: rgb(200,0,255);
  background: linear-gradient(0deg, rgba(200,0,255,1) 0%, rgba(0,212,255,1) 100%); */
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-content {
  background-color: white;
  color: black;
  padding: 40px;
  border-radius: 10px;
  box-sizing: border-box;
  width: 50%;
  max-width: 80%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 4px 3px rgba(0, 0, 0, 0.2);
}

.avatar {
  width: 256px;
  height: 256px;
  /* background-image: url('https://icons.veryicon.com/png/o/miscellaneous/two-color-icon-library/user-286.png'); */
  background-image: url('https://cliply.co/wp-content/uploads/2020/08/442008110_GLANCING_AVATAR_3D_400px.gif');
  /* background-image: url('https://cliply.co/wp-content/uploads/2020/10/442010361_WINKING_AVATAR_3D_400px.gif'); */
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.output {
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  width: 10%;
  box-sizing: border-box;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.info-icon {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 50px;
  height: 50px;
  /* cursor: pointer; */
}

.info-tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  border:3px solid black;
  /* bottom: 100%; */
  right: 0%;
  margin-left: -60px;
  background-color:white;
  opacity: 0;
  transition: opacity 1s;
}

.info-container {
  position: relative;
}

.info-tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}